# Cleaning Zomato Reviews Data for Visualization
[Data Source](https://www.kaggle.com/datasets/prepinstaprime/tomato-reviews)

In [1]:
# Importing Required Libraries
import pandas as pd

In [2]:
raw_data = pd.read_csv("zomato.csv")

In [3]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.7+ MB

In [4]:
raw_data.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

### Dropping Columns
Dropping Columns that i will not be using or can be used for visualization

In [5]:
raw_data.drop(["url","address","phone","dish_liked","reviews_list","menu_item"],axis=1,inplace=True)

In [6]:
raw_data.head()

,name,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,Buffet,Banashankari
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,"South Indian, North Indian",300,Buffet,Banashankari
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,Buffet,Banashankari

### Renaming Columns 
Renaming Columns so they become easy to use and make more sence

In [7]:
raw_data.rename(
    columns={
        'name':'restaurant',
        'rate':'rating',
        'cuisines':'food_type',
        'approx_cost(for two people)':'price',
        'listed_in(type)':'type',
        'listed_in(city)':'city'
    },
    inplace=True)

In [8]:
raw_data.head(20)

,restaurant,online_order,book_table,rating,votes,location,rest_type,food_type,price,type,city
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,Buffet,Banashankari
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,"South Indian, North Indian",300,Buffet,Banashankari
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,Buffet,Banashankari
5,Timepass Dinner,Yes,No,3.8/5,286,Basavanagudi,Casual Dining,North Indian,600,Buffet,Banashankari
6,Rosewood International Hotel - Bar & Restaurant,No,No,3.6/5,8,Mysore Road,Casual Dining,"North Indian, South Indian, Andhra, Chinese",800,Buffet,Banashankari
7,Onesta,Yes,Yes,4.6/5,2556,Banashankari,"Casual Dining, Cafe","Pizza, Cafe, Italian",600,Cafes,Banashankari
8,Penthouse Cafe,Yes,No,4.0/5,324,Banashankari,Cafe,"Cafe, Italian, Continental",700,Cafes,Banashankari
9,Smacznego,Yes,No,4.2/5,504,Banashankari,Cafe,"Cafe, Mexican, Italian, Momos, Beverages",550,Cafes,Banashankari
10,CafÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ© Down The A...,Yes,No,4.1/5,402,Banashankari,Cafe,Cafe,500,Cafes,Banashankari
11,Cafe Shuffle,Yes,Yes,4.2/5,150,Banashankari,Cafe,"Cafe, Italian, Continental",600,Cafes,Banashankari
12,The Coffee Shack,Yes,Yes,4.2/5,164,Banashankari,Cafe,"Cafe, Chinese, Continental, Italian",500,Cafes,Banashankari
13,Caf-Eleven,No,No,4.0/5,424,Banashankari,Cafe,"Cafe, Continental",450,Cafes,Banashankari
14,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Cafes,Banashankari
15,Cafe Vivacity,Yes,No,3.8/5,90,Banashankari,Cafe,Cafe,650,Cafes,Banashankari
16,Catch-up-ino,Yes,No,3.9/5,133,Banashankari,Cafe,"Cafe, Fast Food, Continental, Chinese, Momos",800,Cafes,Banashankari
17,Kirthi's Biryani,Yes,No,3.8/5,144,Banashankari,Cafe,"Chinese, Cafe, Italian",700,Cafes,Banashankari
18,T3H Cafe,No,No,3.9/5,93,Banashankari,Cafe,"Cafe, Italian, American",300,Cafes,Banashankari
19,360 Atoms Restaurant And Cafe,Yes,No,3.1/5,13,Banashankari,Cafe,"Cafe, Chinese, Continental, Italian",400,Cafes,Banashankari

`Looking at Null Values`

In [9]:
raw_data.isna().sum()

restaurant         0
online_order       0
book_table         0
rating          7775
votes              0
location          21
rest_type        227
food_type         45
price            346
type               0
city               0
dtype: int64

In [10]:
raw_data.isna().sum().sum()

8414

In [11]:
len(raw_data)

51717

In [12]:
# Removing Null Values
raw_data.dropna(inplace = True)

In [13]:
len(raw_data)

43533

Length (__Number of Rows__) of our data before and after dropping __Null Values__

In [14]:
raw_data.head()

,restaurant,online_order,book_table,rating,votes,location,rest_type,food_type,price,type,city
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,Buffet,Banashankari
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,"South Indian, North Indian",300,Buffet,Banashankari
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,Buffet,Banashankari

#### Dropping Duplicates

In [15]:
raw_data.duplicated().value_counts()

False    43447
True        86
dtype: int64

In [16]:
# dropped data 
raw_data.drop_duplicates(keep='last',inplace=True)

In [17]:
len(raw_data)

43447

### Now we have done all necessary data cleaning we can now proceed to data visualization

In [19]:
# Saved our Pandas dataframe in System for Visualization
raw_data.reset_index(drop=True,inplace=True)
raw_data.to_excel("zomato_cleaned_data.xlsx")